section#about_image{
.wrapper__home {
.left__wrapper__home {
.content__left__wrapper__home {
    width: 380px;
}
.h20_32 {
}
.p16_28 {
}
}

.right__wrapper__home {
.content__right__wrapper__home {
    height: 507px;
    width: 100%;


.navigation {
.counter {
}
.buttonLeft {
}
.buttonRight {
}
}
}
}

}


}