section#advantages{
    
.abonements__block {
    width: 385px;

h4.h20_32 {
}
p.p16_28 {
}
}
.wrapper__advantages_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

.block__advantages{
    box-sizing: border-box;
    display: flex;
    width: 288px;
    align-items: center;
    justify-content: center;
   

    .logo__advantages{
        width: 54px;
        height: 54px;
        border-radius: 30px;
        background-color: #F8F9FA;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 32px;

       img{
           width: 24px;
           height: 24px;
padding: 15px;

       } 
    }
    .text__advantages{

        p.p16_28{
    font-family: 'Montserrat';
            color: #292E39;
            width: 202px;
        }
    }
}
}


}


