section.contacts {
.contacts__wrapper {
    display: flex;
    justify-content: space-between;

.content__left_contacts {
    width: 403px;
    max-width: 100%;

}
.header__contacts {

.h20_32 {
}

}

.p16_28 {
}
.content__right_contacts {
    margin-right: 32px;
    width: 24.5%;

}
.p13_24 {
}
}

}
