section#constraints{
.block__text__photo_navigation {

.wrapper__home {
    justify-content: space-between;
    
.left__wrapper__home {
    
.content__left__wrapper__home{
display: flex;
flex-wrap: wrap;
margin-top: 15px;


.vector__constraints{
    width: 54px;
    height: 54px;
    background: #DB0A5B;
border-radius: 30px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 47px;
margin-top: 15px;


    img{
        width: 24px;
        height: 24px;
    }
}
.text__constraints{
.p16_28b {
    width: 279px;
    margin-bottom: 32px;

}
.p16_28 {
    width: 409px;
}
}
}
}


.right__wrapper__home {
    
.content__right__wrapper__home {
    height: 507px;
    
    img{
        
    }
.navigation {
.counter {
}
.buttonLeft {
}
.buttonRight {
}
}

}
}


.blur__left {
}

}

}
}