section#epilation{
.block__text__photo_navigation {

.wrapper__home {
    display: flex;
    justify-content: space-between;
    
.left__wrapper__home {
.content__left__wrapper__home {
    width: 360px;
    height: 112px;

.h20_32 {
}
.p16_28 {
}

}
}


.right__wrapper__home {

.content__right__wrapper__home {
width: 400px;

    img{
   
            

    }
    
}
}

}



.blur__left {
}
}
}