#footer{
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;

.wrapper__footer{
    display: flex;
    justify-content: space-between;
    
    .logo__first{
        margin-top:87px;

   .image__logo{
       margin-bottom: 31px;

       img{

       }
   } 

       p.p14_24xs{
margin-bottom: 56px;

       }
       .social_logo__footer{
width: 170px;

a{
    text-decoration: none;

           img{
               width: 20px;
               height: 20px;
               margin-right: 33px;
               box-sizing: border-box;

           }
       }
    }
}
.logo__second{
    margin-top: 74px;
    a{
        text-decoration: none;

   .paragraph{
       .p13_24{
margin-bottom: 54px;
       }

   } 
   p.p14_24xs{
       margin-bottom: 16px;

   }
   span{
       p.p14_24xs{
           width: 233px;
       }
   }
}
}
}
.footer__text__logo {
    display: flex;
    justify-content: space-between;
    margin-top: 67px;

.left__footer__text__logo {
.p12_20 {
    text-transform: uppercase;
}
}

.right__footer__text__logo {
    display: flex;
    p.p12_20{
        margin-right: 16px;
        text-transform: uppercase;
    }
    
.vector_footer {
    display: flex;
    align-items: center;

    img{

    }
}
}
}




}