body{
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Raleway', sans-serif;
}
.container{
    width: 1250px;
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* основа кнопки вверх */
.scroll_top {
    position: fixed; 
    bottom: -50px;
    right: 20px; 
    width: 50px; 
    height: 50px; 
    border: none; 
    border-radius: 50%; 
    background: #5e5a5a3b;
    z-index: 100; 
    outline: none; 
    cursor: pointer;
    transition: 0.4s; 
}



.scroll_top:after {
    content: "";
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff; 
      border-left: 2px solid #fff; 
    transform: rotate(45deg); 
    position: absolute; 
    top: 7px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}
//проявление кнопки 
 .scroll_top.active {
    bottom: 20px;
}
.scroll_top:active:hover {
transform: rotate(360deg);
}

