header{
    width: 100%;
    height: 100%;

    .line{
        border-bottom: 2px solid #C4C4C4;
        display: flex;
        width: 88%;
        margin: 0 auto;
        box-sizing: border-box;
         }
}
.header{
    width: 100%;
    height: 96px;

    .navbar{
        display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;

        .logo__navbar{
            display: flex;
            width: 230px;
            height: 48px;
            align-items: center;

            img.logo{
                display: flex;
                width: 160px;
                height: 24px;
                margin-left: 23px;
            }

         img.logo_logoText{
             width: 40px;
             height: 20px;
             display: flex;
             margin-left: 5.5px;
             margin-bottom: 23px;
            }
        }

        ul.ul__navbar_centerContent{
            list-style: none;
            display: flex;
            align-items: center;

            a{
                text-decoration: none;
                margin-right: 32px;
box-sizing: border-box;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 24px;
text-transform: uppercase;
color: #292E39;

img.vector{
width: 6px;
height: 5px;
margin-left: 10px;
margin-bottom: 3px;
}
            }

            li.menu_ul__navbar{
                img.sale__navbar{
                    width: 15px;
                    height: 15px;
                    margin-right: 8px;
                }
            }
        }

        ul.ul__navbar_rightContent{
            list-style: none;
            margin-right: 22px;

.top{

    li.right_content{

        a{
            text-decoration: none;
            color: #292E39;
            font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 24px;
text-align: right;
text-transform: uppercase;
margin-bottom: 11px;
margin-left: 25px;
box-sizing: border-box;
        }
    }
}

.bottom{

    li.right_content{

        a{

text-decoration: none;
color: #00B64F;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
text-align: right;
text-transform: uppercase;
        }
    }
}
            }
        #burger{
            width: 26px;
            height: 26px;
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            box-sizing: border-box;
            display: none;

         span{
             display: flex;
             width: 19.5px;
             height: 2.5px;
             margin-bottom: 5.5px;
             background-color: #292E39;
             box-sizing: border-box;
         }   
        }
        }


    }

 