section#order{
.wrapper__flex {
.left__order {
    width: 50%;

.abonements__block {
    width: 310px;
    
.h20_32 {
}
.p16_28 {
}
}
}

.right__order {
    width: 50%;

    form.form{
        display: flex;
        justify-content: space-between;
        width: 100%;


    .left__content__order,
    .right__content__order{

    display: flex;
    flex-direction: column;
    width: 48%;

    
    label{
        p.p12_20{

        }
    }

    input{
        background-color: #F8F9FA;
        border: none;
padding: 18px 24px;
box-sizing: border-box;
    }
}
}
.propertiespopup {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;

.wrapper__image__text {
    display: flex;
    align-items: center;
    width: 255px;
    height: 48px;

.image__properties {
    width: 44px;
    height: 24px;
    background: #F8F9FA;
border-radius: 2px;
display: flex;
align-items: center;
justify-content: center;
margin-right: 25px;
box-sizing: border-box;
margin-bottom: 10px;

    img{
        width: 12px;
        height: 9px;

    }
}
.text {
.p14_24 {
}
}

}

.button_Z {
}
}
}


.form__Textarea {
.p12_20 {
}

textarea{
    width: 100%;
    min-height: 102px;
    background-color: #F8F9FA;
    border: none;
    padding: 18px 24px;
    resize: none;
    box-sizing: border-box;
}
}
} 
}


.left__content__order input::placeholder{
    color: #AEB2BE;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
}

.right__content__order input::placeholder{
    color: #292E39;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
}

textarea::placeholder{

    color: #AEB2BE;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
}

input:focus{
    border: none;
    outline: none;
}

textarea:focus{
    border: none;
    outline: none;
}
