section#price__column{
.header__price {
    margin-top: 96px;
    margin-bottom: 64px;

.p18_32 {
    color: #DB0A5B;
}
}

.priceMain__price__column {
    .wrapper__home{
.wrapper__home {
.epilation__text {
.text__left {
.p13_24 {
}
}

.text__right {
    .p13_24 {
    }
}
.button_S {
}
}
}
}
}


}