section#staff{
    .abonements__block_comp {
    .h20_32 {
    }
    .p16_28 {
    }
}

    .gallery__instagram_comp {
        display: flex;

    .images__instagram {
        img{
            width: 288px;
            height: 288px;
            margin-right: 32px;

        }
    }
    .text__images {
        display: flex;
        flex-direction: column;
        margin-top: 40px;

    .p12_20 {
        font-size: 14px;
        text-transform: uppercase;
    
    }
    .p16_28{
        text-transform: uppercase;
        color: #292E39;
        font-weight: 600;
margin: 0;
margin-top: 19px;

    }
}
}


 


}